<html>
<body>
<div style="background-color: white; color: black; padding-left: 10px; padding-right: 10px;">


<div style="">

<p>
		<b>
			<a style="" href="{{var:url}}">{{var:author}}</a>
			{% if var:comment!="" and var:answer=="" %} commented on {% elseif var:comment!="" %} commented an answer on {% elseif var:answer!="" %} answered {% else %} asked {% endif %} 
			<a style="" href="{{var:url}}">{{var:question}}</a>:
		</b>
</p>
{% if var:comment=="" and var:answer!="" %}
<p><b>Answer:</b></p>
<div style="font-style: italic; margin-bottom: 10px; padding: 6px;">
{{var:answer}}
</div>
{% endif %}

{% if var:comment!="" %}
<div style="font-style: italic; margin-bottom: 10px; padding: 6px;">
{{var:comment}}
</div>
{% endif %}

{% if var:answer!="" and var:comment!="" %}
<p><b>Answer:</b></p>
<div style="font-style: italic; margin-bottom: 10px; padding:=
 6px;">
{{var:answer}}
</div>
{% else %}
<p><b>Question ({{var:view}} views):</b></p>

<div style="font-style: italic; margin-bottom: 10px; padding: 6px;">
{{var:questiondetail}}
</div>
{% endif %}


{% if var:comment!="" %}
<div>
	<div style="float:left;">
	<a href="{{var:url}}" target="_blank">Add Comment</a>
	</div>

	<div style="float:right">
	<a href="{{var:url}}" target="_blank">Vote Up</a> | {{var:vote}} | <a href="{{var:url}}" target="_blank">Vote Down</a>
	</div>
<div style='clear:both'></div></div>
{% elseif var:answer!="" %}

<div>
	<div style="float:left;">
	<a href="{{var:url}}" target="_blank">Comment this Answer</a>
	</div>

	<div style="float:right">
	<a href="{{var:url}}" target="_blank">Vote Up this Answer</a> | {{var:vote}} | <a href="{{var:url}}" target="_blank">Vote Down this Answer</a>
	</div>
<div style='clear:both'></div></div>


{% else %}
<div>
	<div style="float:left;">
	<a href="{{var:url}}" target="_blank">Answer</a> | <a href="{{var:url}}" target="_blank">Comment</a>
	</div>

	<div style="float:right">
		<a href="{{var:url}}" target="_blank">Vote Up</a> | {{var:vote}} | <a href="{{var:url}}" target="_blank">Vote Down</a>
	</div>
	<div style='clear:both'></div>
</div>
{% endif %}


</div> 
</div> 
</body>
</html>

